graphs {
  priority: 0

	  engines {
		id: 941
		engine_name: "Mind_BicycleImages"
		side: HOST
		thread_num: 1
		so_name: "./libHost.so"
		ai_config {

	  items {
		name: "path"
		value: "/home/HwHiAiUser/tools/che/datasets/my-datasets/BicycleImages/"
	  }

	  items {
		name: "dataType"
		value: "Image"
	  }

	  items {
		name: "includeYUV420SP"
		value: "false"
	  }

	  items {
		name: "width"
		value: ""
	  }

	  items {
		name: "height"
		value: ""
	  }

	  items {
		name: "meanOfB"
		value: ""
	  }

	  items {
		name: "meanOfG"
		value: ""
	  }

	  items {
		name: "meanOfR"
		value: ""
	  }

	  items {
		name: "batch"
		value: "1"
	  }

	  items {
		name: "useAll"
		value: "All"
	  }

	  items {
		name: "randomNumber"
		value: "1"
	  }

	  items {
		name: "null"
		value: ""
	  }

	  items {
		name: "null"
		value: "Float"
	  }

	  items {
		name: "target"
		value: "FPGA"
	  }
    }
  }

	  engines {
		id: 224
		engine_name: "MindInferenceEngine_1"
		side: DEVICE
		thread_num: 1
		so_name: "./libDevice.so"
		ai_config {

	  items {
		name: "dynamic_aipp"
		value: "-1"
	  }

	  items {
		name: "input_image_format"
		value: ""
	  }

	  items {
		name: "csc_switch"
		value: ""
	  }

	  items {
		name: "model_image_format"
		value: ""
	  }

	  items {
		name: "input_image_width"
		value: "300"
	  }

	  items {
		name: "input_image_height"
		value: "300"
	  }

	  items {
		name: "model_path"
		value: "/home/HwHiAiUser/tools/che/model-zoo/my-model/vgg_ssd_300x300/device/vgg_ssd_300x300.om"
	  }

	  items {
		name: "init_config"
		value: ""
	  }

	  items {
		name: "passcode"
		value: ""
	  }

	  items {
		name: "dump_list"
		value: ""
	  }

	  items {
		name: "dvpp_parapath"
		value: ""
	  }

	  items {
		name: "batch_size"
		value: "1"
	  }

	  items {
		name: "dynamic_aipp_flag"
		value: "-1"
	  }
    }
  }

	  engines {
		id: 229
		engine_name: "SSDPostProcess_1"
		side: HOST
		thread_num: 1
		so_name: "./libHost.so"
		ai_config {

	  items {
		name: "output_name"
		value: "detection_out"
	  }

	  items {
		name: "path"
		value: "/home/HwHiAiUser/tools/che/datasets/my-datasets/BicycleImages/"
	  }

	  items {
		name: "mode"
		value: "normal"
	  }
    }
  }

	  engines {
		id: 876
		engine_name: "ImagePreProcess_1"
		side: DEVICE
		thread_num: 1
		so_name: "./libDevice.so"
		ai_config {

	  items {
		name: "point_x"
		value: "-1"
	  }

	  items {
		name: "point_y"
		value: "-1"
	  }

	  items {
		name: "crop_width"
		value: "-1"
	  }

	  items {
		name: "crop_height"
		value: "-1"
	  }

	  items {
		name: "self_crop"
		value: "1"
	  }

	  items {
		name: "resize_width"
		value: "300"
	  }

	  items {
		name: "resize_height"
		value: "300"
	  }

	  items {
		name: "dump_value"
		value: "0"
	  }

	  items {
		name: "project_name"
		value: ""
	  }

	  items {
		name: "dvpp_parapath"
		value: ""
	  }

	  items {
		name: "userHome"
		value: "/home/HwHiAiUser/tools"
	  }
    }
  }

  connects {
    src_engine_id: 941
    src_port_id: 0
    target_engine_id: 876
    target_port_id: 0
  }

  connects {
    src_engine_id: 876
    src_port_id: 0
    target_engine_id: 224
    target_port_id: 0
  }

  connects {
    src_engine_id: 224
    src_port_id: 0
    target_engine_id: 229
    target_port_id: 0
  }
}			
